
/*  The sidebar at the left side */
.sidebar {
    -fx-background-color: linear-gradient(to top, #2443a0, #00aeff);
    -fx-padding: 10px;
}

.sidebar-button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a237e;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-alignment: center;
}

.sidebar-button:hover {
    -fx-background-color: #1a237e;
    -fx-text-fill: #ffffff;
}

.sidebar-button:pressed {
    -fx-background-color: #1a237e;
    -fx-text-fill: #ffffff;
}

.sidebar-button:pressed {
    -fx-background-color: #1a237e;
    -fx-text-fill: #ffffff;
}

.sidebar-button, .sidebar-button:hover, .sidebar-button:pressed {
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 200px;
    -fx-max-height: 200px;
}

/* Close bar */

#minimize-button {
    -fx-background-image: url('minimize.png');
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-background-radius: 8px;
}


#close-button {
    -fx-background-image: url('close.png');
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-background-radius: 8px;
}

/* below the closeBar */
#titleBar {
    -fx-background-color: #808080;
}

#title {
   -fx-font-size: 20px;
   -fx-text-fill: #2c3e50;
   -fx-font-weight: bold;
   -fx-font-family: "Arial", sans-serif;
   -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.2), 2, 2, 0, 0 );
}


/*  Center data */
#city {
   -fx-font-size: 24px;
   -fx-font-weight: bold;
   -fx-text-fill: #fbf8f3;
   -fx-font-family: "Segoe UI";
}

#basedTemperature {
   -fx-font-size: 34px;
   -fx-text-fill: #fbf8f3;
   -fx-font-weight: bold;
   -fx-font-family: "Segoe UI";
}


/*  Main Backgrounds based on the hour    */

.day {
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-image: url('day.jpg');
  -fx-padding: 1px;
}

.night {
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-image: url('night.jpg');
  -fx-padding: 1px;
}

/*  Widgets  */

#Clock {  /* The clock at the top right  */
  -fx-font-size: 15px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #333333;
  -fx-padding: 8px 12px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.5), 2, 2, 0, 0 );
}

/*  Forecast design */

#Day {
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: #fbf8f3;
    -fx-font-family: "Segoe UI";
}

#Forecast {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #fbf8f3;
    -fx-font-family: "Segoe UI";
}