/* search.css */

/* Styles for the performSearch button */
#magnifying-glass {
    -fx-background-image: url('search.png');
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-radius: 10px;
}


/* Styles for the addButton */
#addButton {
    -fx-background-color: #28a745; /* Green background color */
    -fx-text-fill: white; /* Text color (white) */
    -fx-font-size: 12px; /* Font size (14 pixels) */
    -fx-font-family: "Arial"; /* Font family */
    -fx-padding: 8px 16px; /* Padding around the button's text (8 pixels top and bottom, 16 pixels left and right) */
}


/* Styles for the table */
.table-view {
    -fx-font-size: 12px;
    -fx-background-color: #f5f5f5; /* Table background color */
}

/* Header styles */
.table-view .column-header {
    -fx-background-color: #d9d9d9; /* Header background color (light gray) */
    -fx-text-fill: #333333; /* Header text color */
}

/* Row styles */
.table-row-cell {
    -fx-background-color: #f8f8f8; /* Row background color (light gray) */
    -fx-text-fill: #333333; /* Row text color */
}

.table-row-cell:odd {
    -fx-background-color: #f5f5f5; /* Alternate row background color (slightly lighter gray) */
}

.table-row-cell:selected {
    -fx-background-color: #11555D; /* Selected row background color (blue) */
    -fx-text-fill: white; /* Selected row text color */
}

.root {
    -fx-background-color: #434343;
}